.main {
    /* TODO mira como he puesto las imagenes:*/
    background-image: url("/prj2/violet-sky-with-red-clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    width: 1920px;
    height: 1980px;
}

.jumbotron {
    background-image: url("/prj2/nubes.jpg");
    background-repeat: no-repeat;
}

.footer {
    background-color: lightseagreen;
}

/*.div{
    background-color: lightseagreen;
}*/
/*.main{
    background-image: url("/src/prj2/images/cielo_rojo.png");
    width: 1920px;
    height: 1980px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: lightseagreen;
}*/