.main{
    /*background-image: url("/src/prj2/images/cielo_rojo.png");
    width: 1920px;
    height: 1980px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;*/
    background-color: lightseagreen;
}